/*Gem Style*/

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/*FONTS*/
@font-face
{
	font-family: Gothic;
    src: url('Fonts/Gothic/gothic.eot');
    src: url('Fonts/Gothic/gothic.eot?#iefix') format('embedded-opentype'),
         url('Fonts/Gothic/gothic.woff') format('woff'),
         url('Fonts/Gothic/Gothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
	font-family: PT;
    src: url('Fonts/PT/pt_sans-web-regular-webfont.eot');
    src: url('Fonts/PT/pt_sans-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/PT/pt_sans-web-regular-webfont.woff') format('woff'),
         url('Fonts/PT/pt_sans-web-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	
}
@font-face
{		
	font-family: PT-Bold;
    src: url('Fonts/PT-Bold/pt_sans-web-bold-webfont.eot');
    src: url('Fonts/PT-Bold/pt_sans-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/PT-Bold/pt_sans-web-bold-webfont.woff') format('woff'),
         url('Fonts/PT-Bold/pt_sans-web-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'BN';
    src: url('Fonts/BN/big_noodle_titling-webfont.eot');
    src: url('Fonts/BN/big_noodle_titling-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/BN/big_noodle_titling-webfont.woff') format('woff'),
         url('Fonts/BN/big_noodle_titling-webfont.ttf') format('truetype'),
         url('Fonts/BN/big_noodle_titling-webfont.svg#bignoodletitlingregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face 
{
    font-family: 'BNO';
    src: url('Fonts/BNO/big_noodle_titling_oblique-webfont.eot');
    src: url('Fonts/BNO/big_noodle_titling_oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/BNO/big_noodle_titling_oblique-webfont.woff') format('woff'),
         url('Fonts/BNO/big_noodle_titling_oblique-webfont.ttf') format('truetype'),
         url('Fonts/BNO/big_noodle_titling_oblique-webfont.svg#bignoodletitlingoblique') format('svg');
    font-weight: normal;
    font-style: normal;

}
html
{
}
Body
{
font-family:PT, Gothic;
font-size:14px;
background:white;
max-width:1024px;
}
@media screen and (max-width: 1024px)
{
	Body
	{
	font-size:16px;
	}
}
@media screen and (max-width: 600px)
{
	Body
	{
	font-size:14px;
	}
}
@media screen and (max-width: 540px)
{
	Body
	{
	font-size:12px;
	}
}
@media screen and (max-width: 480px)
{
	Body
	{
	font-size:8px;
	}
}
/*FIXED LOGO BOX*/
#LogoBox
{
position:fixed;
width:100%;
max-width:1024px;
height:25%;
background:white;
z-index:3;
}
	.sides
	{
	position:relative;
	float:left;
	width:25%;
	height:100%;
	background:white;
	z-index:1;
	}
		#BtnBack
		{
		position:absolute;
		top:30%;
		left:10%;
		height:30%;
		width:70%;
		cursor:pointer;
		display:none;
		}
	#Logo
	{
	position:relative;
	float:left;
	margin-left:0%;
	width:50%;
	height:100%;
	z-index:1;
	}
	
	
/*LANDING PAGE*/
#Landing
{
position:fixed;
height:75%;
width:100%;
max-width:1024px;
top:25%;
}
#Menu
{
position:absolute;
top:0%;
width:100%;
height:82%;
background:white;
text-align:center;
}
	.BtnText
	{
	font-family:BN;
	top: 30%;
	position: relative;
	font-size:300%;
	Color:white;
	text-transform:uppercase;
	}
	.Arrow
	{
	position:absolute;
	height:30%;
	width:5%;
	top:40%;
	right:5%;
	background:transparent;
	z-index:1;
	cursor:pointer;
	}
			.Arrow img
			{
			position:absolute;
			height:100%;
			width:100%;
			left:0px;
			top:0px;
			}
	#BtnWho
	{
	position:relative;
	width:100%;
	height:14%;
	background:#faa719;
	text-align:center;
	}
	#BtnGraphics
	{
	position:relative;
	width:100%;
	height:15%;
	background:#00a69c;
	text-align:center;
	}
	#BtnPhoto
	{
	position:relative;
	width:100%;
	height:15%;
	background:#f05a28;
	text-align:center;
	}
	#BtnWeb
	{
	position:relative;
	width:100%;
	height:15%;
	background:#c91d67;
	text-align:center;
	}
	#BtnPort
	{
	position:relative;
	width:100%;
	height:15%;
	background:#f05a28;
	text-align:center;
	}
	#BtnMeet
	{
	position:relative;
	width:100%;
	height:15%;
	background:#faa719;
	text-align:center;
	}
	#BtnContact
	{
	position:relative;
	width:100%;
	height:15%;
	background:#00a69c;
	text-align:center;
	}

#Social
{
position:absolute;
top:88%;
width:90%;
padding-left:5%;
padding-right:5%;
height:11%;
background:white;
}
	.SocialIcon
	{
	float:left;
	margin-right:3.33%;
	margin-left:3.33%;
	width:10%;
	height:80%;
	}
/*END LANDING SECTIONS*/


/*POPUP BOX FOR MEET THE TEAM*/
img
{
height:100%;
width:100%;
}
#LightBoxCover
		{
		position:fixed;
		display:none;
		width:100%;
		height:100%;
		background-color: rgba(0,0,0,0.8);
		z-index:20;
		}
			#LBContent
			{
				position:fixed;
				background:#c91d67;
				width:90%;
				max-width:900px;
				height:90%;
				left:5%;
				top:5%;
			}
			#Exit
				{
				position:absolute;
				background-image:url('Images/XButtonGem.png');
				background-size:100%, auto;
				width:30px;
				height:30px;
				cursor:pointer;
				right:5px;
				top:5px;
				}
/*END POPUP BOX SECTION*/
				
/*CONTENT SECTIONS*/
#Content
{
position:absolute;
width:100%;
max-width:1024px;
height:100%;
left:0%;
display:none;
background:pink;
}
	.LineDrawing
	{
	position:absolute;
	}
	.ParagraphStyle
	{
	text-transform:uppercase;
	font-size:110%;
	line-height:120%;
	color: white;
	font-weight:normal;
	}
	.HeadingStyle
	{
	font-family:PT-Bold, PT, Gothic;
	text-transform:uppercase;
	text-align:right;
	font-size:300%;
	color: white;
	}
	.NoWrap
	{
	white-space:nowrap;
	}
	#WhoWeAre
	{
	position:relative;
	height:100%;
	width:100%;
	background:#faa719;
	overflow:hidden;
	}
		#WhoWeAre .LineDrawing
		{
			position:absolute;
			left:25%;
			bottom:0%;
			width:40%;
			height:50%;
		}
		#WhoWeAre-Heading
		{
			position:absolute;
			top:25%;
			left:0%;
			width:30%;
			overflow:hidden;

		}
		#WhoWeAre-Content1
		{
			position:absolute;
			padding:0px;
			top:25%;
			left:35%;
			width:60%;
		}
		#WhoWeAre-Content2
		{
			text-align:right;
			position:absolute;
			padding:0px;
			top:67%;
			left:50%;
			width:40%;
		}
			#WhoWeAre-Content2 a
			{
				text-decoration:none;
				color:white;
				font-weight:bold;
			}
	#GraphicDesign
	{
	position:relative;
	height:80%;
	overflow:hidden;
	width:100%;
	background:#00a69c;
	}
		#GraphicDesign .LineDrawing
		{
			position:absolute;
			left:10%;
			top:35%;
			width:80%;
			height:50%;
		}
		#GraphicDesign-Heading
		{
			position:absolute;
			top:10%;
			left:0%;
			width:35%;
			overflow:hidden;

		}
		#GraphicDesign-Content1
		{
			position:absolute;
			padding:0px;
			top:10%;
			left:37%;
			width:60%;
		}
		#GraphicDesign-Content2
		{
			text-align:right;
			position:absolute;
			padding:0px;
			top:65%;
			left:40%;
			width:50%;
		}
			#GraphicDesign-Content2 a
			{
				text-decoration:none;
				color:white;
				font-weight:bold;
			}	
	#Photography
	{
	position:relative;
	overflow:hidden;
	height:80%;
	width:100%;
	background:#f05a28;
	}
		#Photography .LineDrawing
		{
			position:absolute;
			left:42%;
			top:40%;
			width:70%;
			height:60%;
		}
		#Photography-Heading
		{
			position:absolute;
			top:5%;
			text-align:left;
			left:42%;
			width:60%;
			overflow:hidden;

		}
		#Photography-Content
		{
			position:absolute;
			padding:0px;
			top:5%;
			left:0%;
			width:40%;
			text-align:right;
		}
			#Photography-Content a
			{
				text-decoration:none;
				color:white;
				font-weight:bold;
			}	
	#WebDevelopment
	{
	position:relative;
	overflow:hidden;
	width:100%;
	height:80%;
	background:#c91d67;
	}
		#WebDevelopment .LineDrawing
		{
			position:absolute;
			left:-10%;
			top:5%;
			width:80%;
			height:57%;
		}
		#WebDevelopment-Heading
		{
			position:absolute;
			top:60%;
			left:10%;
			width:40%;
			overflow:hidden;
		}
		#WebDevelopment-Content
		{
			position:absolute;
			padding:0px;
			top:59.5%;
			left:51%;
			width:45%;
		}
	#Portfolio
	{
	overflow:hidden;
	position:relative;
	width:100%;
	height:80%;
	background:#f05a28;
	}
		#Portfolio .LineDrawing
		{
			position:absolute;
			left:5%;
			top:5%;
			width:20%;
			height:30%;
		}
		#Portfolio-Heading
		{
		position:absolute;
		top:5%;
		left:0%;
		width:45%;
		overflow:hidden;
		text-align:right;
		}
		#Portfolio-Content
		{
			position:absolute;
			padding:0px;
			top:5%;
			left:50%;
			width:40%;
			text-align:left;
		}
		#PortBox
		{
		position:absolute;
		background-color: rgba(0,0,0,.2);
		width:100%;
		top:25%;
		height:75%;
		left:0%;
		}
		.PortSquare
		{
		float:left;
		overflow:hidden;
		position:relative;
		background:silver;
		height:33.33%;
		width:33.33%;
		}
		.PortSquare ul, .PortSquare li
		{
		position: relative;
		height: 100%;
		width: 100%;
		}
			.PortSquare  img
			{
			position: absolute;
			height:100%;
			width:100%;
			}
		.PortSquare:hover
		{
		opacity:.8;
		}
	#MeetTheTeam
	{
	overflow:hidden;
	position:relative;
	width:100%;
	height:80%;
	background:#faa719;
	}
		#MeetTheTeam .LineDrawing
		{
			position:absolute;
			left:25%;
			top:10%;
			width:24%;
			height:30%;
		}
		#MeetTheTeam-Heading
		{
		position:absolute;
		top:5%;
		left:15%;
		width:25%;
		overflow:hidden;
		text-align:right;
		}
		#MeetTheTeam-Content
		{
			position:absolute;
			padding:0px;
			top:5%;
			left:42%;
			width:50%;
		}
		#TeamBox
		{
		position:absolute;
		background-image:url('Images/frame.png');
		background-size:100% 100%;
		width:100%;
		top:20%;
		height:80%;
		left:0%;
		}
		#TeamFrame
		{
		position:absolute;
		height:64%;
		top:21%;
		bottom:15%;
		width:60%;
		padding-left:20%;
		padding-right:20%;
		}
		.MemberSquare
		{
		height:29.2%;
		width:28.75%;
		margin-left:3.2%;
		margin-bottom:4.2%;
		position:relative;
		float:left;
		background-color: rgba(0,0,0,.2);
		}
		.MemberSquare:nth-child(1){
			background-image: url('Images/Team/aisling.jpg');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.MemberSquare:nth-child(2){
			background-image: url('Images/Team/gillian.jpg');
			background-position: center top;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.MemberSquare:nth-child(3){
			background-image: url('Images/Team/ger.jpg');
			background-position: 100% 15%;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.MemberSquare:nth-child(4){
			background-image: url('Images/Team/BarryDelaney.jpg');
			background-position: center top;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.MemberSquare:nth-child(5){
			background-image: url('Images/Team/robin.jpg');
			background-position: 30%;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.MemberSquare:nth-child(6){
			background-image: url('Images/Team/ray.jpg');
			background-position: 20% ;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.MemberSquare:nth-child(7){
			background-image: url('Images/Team/Sinead.jpg');
			background-position: 50% 50%;
			background-size: 100% auto;
			background-repeat: no-repeat;
		}
			.MemImage
			{
			position:absolute;
			width:100%;
			height:100%;
			}
			.Empty
			{
			display:none;
			top:0px;
			left:0px;
			position:absolute;
			width:100%;
			height:100%;
			background-color: rgba(201,29,103,0.3);
			cursor:pointer;
			}
			.Cover
			{
			top:0px;
			left:0px;
			position:absolute;
			width:100%;
			height:100%;
			background-color: rgba(201,29,103,0.3);
			cursor:pointer;
			}
				.MemName
				{
				position:absolute;
				text-align:center;
				top:5%;
				width:100%;
				color:white;
				font-size:125%;
				font-weight:bold;
				}
				.Surname
				{
				font-weight:normal;
				}
				.GemIcon
				{
				display:none;
				position:absolute;
				margin:auto;
				bottom:20%;
				width:12%;
				height:14%;
				left:44%;
				}
				.MemTitle
				{
				position:absolute;
				text-align:center;
				bottom:0px;
				width:100%;
				color:white;
				font-weight:bold;
				text-transform:uppercase;
				font-size:80%;
				}
		
			/*Lighbox*/
				.Picture
				{
				background:white;
				position:absolute;
				background-size: cover;
				background-repeat: no-repeat;
				width:60%;
				left:20%;
				top:5%;
				height:45%;
				}
				#Icon
				{
				position:absolute;
				background-size: cover;
				background-size: contain;
				background-repeat: no-repeat;
				top: -5%;
				right: 0%;
				height: 80%;
				width: 30%;
				}
				.Name
				{
				background:transparent;
				position:absolute;
				font-weight:normal;
				width:80%;
				left:10%;
				top:55%;
				height:11%;
				color:white;
				text-align:left;
				font-size:180%;
				font-weight:bold;
				overflow:hidden;				
				}
				.Desc
				{
				display:none;
				}
				.Description
				{
				background:transparent;
				position:absolute;
				width:80%;
				left:10%;
				top:65%;
				height:30%;
				color:white;
				text-align:left;
				font-size:140%;	
				overflow:auto;
				}

	#GetInTouch
	{
	position:relative;
	width:100%;
	height:160%;
	background:#00a69c;
	overflow:hidden;
	}
		#GetInTouch form
		{
		position:absolute;
		width:45%;
		height:25%;
		top:60%;
		left:40%;
		color:white;
		}
			#GetInTouch .contactbox
			{
			padding-left:2%;
			font-size:110%;
			width:100%;
			margin-top:5%;
			height:7.5%;
			background:#00a69c;
			border:1px solid white;
			color:white;
			}
			#GetInTouch .commentbox
			{
			font-family:Gothic;
			font-size:110%;
			padding-left:2%;
			margin-top:5%;
			width:100%;
			height:50%;
			background:#00a69c;
			border:1px solid white;
			color:white;
			}
			#BtnSend
			{
			position:absolute;
			width:30%;
			height:20%;
			top:99%;
			left:61%;
			}
			#BtnSend:hover
			{
			position:absolute;
			width:30%;
			height:20%;
			top:100%;
			left:60%;
			}
			#Alert
			{
			position: absolute;
			top: 90%;
			left: 0;
			padding: 2%;
			width: auto;
			height: 4%;
			color: white;
			text-align: center;
			background: red;
			border-radius: 50px;
			display:none;
			text-transform:uppercase;
			}
		#GetInTouch .LineDrawing
		{
			position:absolute;
			left:5%;
			top:7.5%;
			width:50%;
			height:24%;
		}
		#GetInTouch-Heading
		{
		position:absolute;
		text-align:left;
		top:49%;
		left:77%;
		width:15%;
		overflow:hidden;
		}
		#GetInTouch-Content
		{
			text-align:right;
			position:absolute;
			padding:0px;
			top:50%;
			left:55%;
			width:20%;
		}
		#dropusaline
		{
		position:absolute;
		width:25%;
		height:51%;
		top:10%;
		left:61%;
		
		}
		#planeandinfo
		{
		position:absolute;
		width:85%;
		height:20%;
		top:35%;
		left:0%;
		color:white;
		}
				#planeandinfo img
				{
				position:absolute;
				left:0px;
				top:0px;
				z-index:1;
				}
				#contactdetails
				{
				position:absolute;
				left:10%;
				top:40%;
				z-index:2;
				}
					#planeandinfo #Gem
					{
					font-size:220%;
					z-index:2;
					font-weight:bold;
					}
					#planeandinfo #Tel
					{
					font-size:175%;
					z-index:2;
					}
					#planeandinfo #Tel a
					{
					color:white;
					}
					#planeandinfo #Email
					{
					font-size:150%;
					z-index:2;
					}
					#planeandinfo #Email a
					{
					text-decoration:none;
					color:white;
					}
		#carrierpigeon
		{
		position:absolute;
		width:15%;
		height:10%;
		top:84%;
		left:81%;
		}
		#HearFromYou
		{
		position:absolute;
		width:30%;
		height:12%;
		top:75%;
		left:5%;
		}
		#quill
		{
		position:absolute;
		width:25%;
		height:20%;
		top:55%;
		left:5%;
		}
		
@media screen and (min-height: 600px) and (min-width: 950px)
{
	#Content
	{
	position:absolute;
	width:100%;
	max-width:1024px;
	height:120%;
	}
	#TeamBox
	{
	width:80%;
	left:10%;
	}
	#PortBox
	{
	width:70%;
	left:15%;
	}
	#Logo {
	width: 30%;
	margin-left: 10%;
	}
	#BtnBack
	{
	width:40%;
	}
	#LBContent
	{
	width:50%;
	left:25%;
	}
	.Description {
	font-size:110%;
	}
	#Social
	{
	padding-left: 20%;
	}
	.SocialIcon {
	width: 5%;
	}
}
/*END CONTENT SECTIONS*/






